baseURL = "https://regolith-linux.org"
title = "Regolith Linux"
enableRobotsTXT = true

# Hugo allows theme composition (and inheritance). The precedence is from left to right.
theme = ["docsy"]

# Will give values to .Lastmod etc.
enableGitInfo = true

# Language settings
contentDir = "content"
defaultContentLanguage = "en"
defaultContentLanguageInSubdir = false
# Useful when translating.
enableMissingTranslationPlaceholders = false

disableKinds = ["taxonomy", "taxonomyTerm"]

# Highlighting config
pygmentsCodeFences = true
pygmentsUseClasses = false
# Use the new Chroma Go highlighter in Hugo.
pygmentsUseClassic = false
#pygmentsOptions = "linenos=table"
# See https://help.farbox.com/pygments.html
pygmentsStyle = "tango"

# Configure how URLs look like per section.
[permalinks]
blog = "/:section/:year/:month/:day/:slug/"

## Configuration for BlackFriday markdown parser: https://github.com/russross/blackfriday
[blackfriday]
plainIDAnchors = true
hrefTargetBlank = true
angledQuotes = false
latexDashes = true

# Image processing configuration.
[imaging]
resampleFilter = "CatmullRom"
quality = 75
anchor = "smart"

[privacy.googleAnalytics]
disable = false
respectDoNotTrack = true
anonymizeIP = true
useSessionStorage = true

[services]
[services.googleAnalytics]
# Comment out the next line to disable GA tracking. Also disables the feature described in [params.ui.feedback].
id = "UA-138654070-2"

# Language configuration

[languages]
[languages.en]
title = "Regolith 1.5.2"
description = "Regolith Linux website"
contentDir = "content/en"
languageName ="English"
# Weight used for sorting.
weight = 1

[languages.de]
title = "Regolith 1.5.2"
description = "Regolith Linux Webseite"
contentDir = "content/de"
languageName ="Deutsch"
# Weight used for sorting.
weight = 2

[languages.es]
title = "Regolith 1.5.2"
description = "Sitio Web de Regolith Linux"
contentDir = "content/es"
languageName ="Español"
# Weight used for sorting.
weight = 3

[languages.hu]
title = "Regolith 1.5.2"
description = "Regolith Linux Weboldal"
contentDir = "content/hu"
languageName ="magyar"
# Weight used for sorting.
weight = 4

[languages.fr]
title = "Regolith 1.5.2"
description = "Site web de Regolith Linux"
contentDir = "content/fr"
languageName ="français"
# Weight used for sorting.
weight = 5

[languages.pt_pt]
title = "Regolith 1.5.2"
description = "Site Regolith Linux"
contentDir = "content/pt_pt"
languageName ="português"
# Weight used for sorting.
weight = 6

[languages.pt_br]
title = "Regolith 1.5.2"
description = "Site web do Regolith Linux"
contentDir = "content/pt_br"
languageName ="português brasileiro"
# Weight used for sorting.
weight = 7

[languages.ru]
title = "Regolith 1.5.2"
description = "Вебсайт Regolith Linux"
contentDir = "content/ru"
languageName ="Russian"
# Weight used for sorting.
weight = 8

[markup]
[markup.goldmark]
[markup.goldmark.renderer]
unsafe = true

# Everything below this are Site Params

[params]
author = "Regolith Project"
description = "Regolith is a modern desktop environment that lets you work faster by reducing unnecessary clutter and ceremony."
site_description = "Regolith is a modern desktop environment that lets you work faster by reducing unnecessary clutter and ceremony."
images = ["https://regolith-linux.org/screenshot-remontoire.png"]

copyright = "Regolith Project"
privacy_policy = "https://regolith-linux.org/docs/policy-and-process/privacy/"

# Menu title if your navbar has a versions selector to access old versions of your site.
# This menu appears only if you have at least one [params.versions] set.
version_menu = "Releases"

# Repository configuration (URLs for in-page links to opening issues and suggesting changes)
github_repo = "https://github.com/regolith-linux/website"
# An optional link to a related project repo. For example, the sibling repository where your product code lives.
github_project_repo = "https://github.com/regolith-linux/regolith-desktop"

# Specify a value here if your content directory is not in your repo's root directory
# github_subdir = ""

# Google Custom Search Engine ID. Remove or comment out to disable search.
gcs_engine_id = "000268677903008861770:ukuce0y3gy7"

# Enable Algolia DocSearch
algolia_docsearch = false

# Enable Lunr.js offline search
offlineSearch = false

[languages.fr.params]
version_menu = "Versions"

# User interface configuration
[params.ui]
# Enable to show the side bar menu in its compact state.
sidebar_menu_compact = false
#  Set to true to disable breadcrumb navigation.
breadcrumb_disable = false
#  Set to true to hide the sidebar search box (the top nav search box will still be displayed if search is enabled)
sidebar_search_disable = false
#  Set to false if you don't want to display a logo (/assets/icons/logo.svg) in the top nav bar
navbar_logo = true

# Set to true to disable the About link in the site footer
footer_about_disable = true

# Adds a H2 section titled "Feedback" to the bottom of each doc. The responses are sent to Google Analytics as events.
# This feature depends on [services.googleAnalytics] and will be disabled if "services.googleAnalytics.id" is not set.
# If you want this feature, but occasionally need to remove the "Feedback" section from a single page,
# add "hide_feedback: true" to the page's front matter.
[params.ui.feedback]
enable = true
# The responses that the user sees after clicking "yes" (the page was helpful) or "no" (the page was not helpful).
yes = 'Glad to hear it! Please <a href="https://github.com/regolith-linux/regolith-linux.github.io/issues/new">tell us how we can improve</a>.'
no = 'Sorry to hear that. Please <a href="https://github.com/regolith-linux/regolith-linux.github.io/issues/new">tell us how we can improve</a>.'

[languages.fr.params.ui.feedback]
enable = true
# The responses that the user sees after clicking "yes" (the page was helpful) or "no" (the page was not helpful).
yes = "Bonne nouvelle ! N'hésitez pas <a href=\"https://github.com/regolith-linux/regolith-linux.github.io/issues/new\">à nous dire quoi améliorer</a>."
no = "Mince alors ! N'hésitez pas <a href=\"https://github.com/regolith-linux/regolith-linux.github.io/issues/new\">à nous dire quoi améliorer</a>."

[params.links]
# End user relevant links. These will show up on left side of footer and in the community page if you have one.
[[params.links.user]]
name = "Announcement mailing list"
url = "https://www.freelists.org/list/regolith-linux"
icon = "fa fa-envelope"
desc = "Get notified of new features and bug fixes"
[[params.links.user]]
name ="Twitter"
url = "https://twitter.com/RegolithL"
icon = "fab fa-twitter"
desc = "Follow us on Twitter to get the latest news"
[[params.links.user]]
name ="Mastodon"
url = "https://fosstodon.org/@regolith"
icon = "fab fa-mastodon"
desc = "Follow us on Mastodon to get the latest news"
[[params.links.user]]
name ="Github Issues"
url = "https://github.com/regolith-linux/regolith-desktop/issues"
icon = "fab fa-github"
desc = "Check for existing or create new bug reports and feature requests"
# Developer relevant links. These will show up on right side of footer and in the community page if you have one.
[[params.links.developer]]
name = "GitHub"
url = "https://github.com/regolith-linux"
icon = "fab fa-github"
desc = "Development takes place here"
[[params.links.developer]]
name = "Slack"
url = "https://regolith-linux.herokuapp.com/"
icon = "fab fa-slack"
desc = "Chat with contributors and users"

[languages.fr.params.links]
# End user relevant links. These will show up on left side of footer and in the community page if you have one.
[[languages.fr.params.links.user]]
name = "Liste de diffusion"
url = "https://www.freelists.org/list/regolith-linux"
icon = "fa fa-envelope"
desc = "Être informé des nouvelles fonctionnalités et correctifs"
[[languages.fr.params.links.user]]
name ="Twitter"
url = "https://twitter.com/RegolithL"
icon = "fab fa-twitter"
desc = "Suivez-nous sur Twitter pour les dernières nouvelles"
[[languages.fr.params.links.user]]
name ="Mastodon"
url = "https://fosstodon.org/@regolith"
icon = "fab fa-mastodon"
desc = "Suivez-nous sur Mastodon pour les dernières nouvelles"
[[languages.fr.params.links.user]]
name ="Tickets Github"
url = "https://github.com/regolith-linux/regolith-desktop/issues"
icon = "fab fa-github"
desc = "Parcourir ou créer un nouveau ticket (bug). Proposer une nouvelle fonctionnalité."
# Developer relevant links. These will show up on right side of footer and in the community page if you have one.
[[languages.fr.params.links.developer]]
name = "GitHub"
url = "https://github.com/regolith-linux"
icon = "fab fa-github"
desc = "Le développement c'est par ici !"
[[languages.fr.params.links.developer]]
name = "Slack"
url = "https://regolith-linux.herokuapp.com/"
icon = "fab fa-slack"
desc = "Discuster avec les contributeurs et les utilisateurs."

# Versions
[[params.versions]]
version = "1.5.2"
url = "http://regolith-linux.org"

[[params.versions]]
version = "1.5.1"
url = "http://regolith-linux.org/regolith-site-r151/"

[[params.versions]]
version = "1.5"
url = "http://regolith-linux.org/regolith-site-r15/"

[[params.versions]]
version = "1.4.1"
url = "http://regolith-linux.org/regolith-site-r141/"

[[params.versions]]
version = "1.4"
url = "http://regolith-linux.org/regolith-site-r141/"

[[params.versions]]
version = "1.3.1"
url = "http://regolith-linux.org/regolith-site-r131/"

[[params.versions]]
version = "1.3"
url = "http://regolith-linux.org/regolith-site-r13/"

[[params.versions]]
version = "1.2"
url = "http://regolith-linux.org/regolith-site-r12/"
